{% extends 'base.html' %}
{% block content %}
    <!-- templates/cita/detail_cita.html -->
    <h3>Detalle de la Cita</h3>
    <p><strong>Paciente:</strong> {{ cita.paciente.nombre }} {{ cita.paciente.paterno }}</p>
    <p><strong>Doctor:</strong> {{ cita.doctor.nombre }}</p>
    <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
    <p><strong>Motivo:</strong> {{ cita.motivo }}</p>
    <p><strong>Estado:</strong> {{ cita.estado }}</p>

    <a href="{{ url_for('main.edit_cita', cita_id=cita.cita_id) }}" class="btn btn-warning">Editar Cita</a>
    <form method="POST" action="{{ url_for('main.delete_cita', cita_id=cita.cita_id) }}" style="display:inline;">
        <button type="submit" class="btn btn-danger">Eliminar Cita</button>
    </form>
{% endblock %}
