


{% extends 'base.html' %}

{% block title %}Detalle del Paciente{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4 text-primary">Detalle del Paciente</h1>

    <!-- Detalle del Paciente -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title">Información Personal</h5>
            <p><strong>Nombre:</strong> {{ paciente.nombre }} {{ paciente.paterno }} {{ paciente.materno }}</p>
            <p><strong>CI:</strong> {{ paciente.ci if paciente.ci else 'No especificado' }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ paciente.fecha_nacimiento.strftime('%d/%m/%Y') }}</p>
            <p><strong>Dirección:</strong> {{ paciente.direccion if paciente.direccion else 'No especificada' }}</p>
            <p><strong>Teléfono:</strong> {{ paciente.telefono if paciente.telefono else 'No especificado' }}</p>
            <p><strong>Celular:</strong> {{ paciente.celular if paciente.celular else 'No especificado' }}</p>
            <p><strong>Estado Civil:</strong> {{ paciente.estado_civil if paciente.estado_civil else 'No especificado' }}</p>
            <p><strong>Ocupación:</strong> {{ paciente.ocupacion if paciente.ocupacion else 'No especificada' }}</p>
            <p><strong>Doctor:</strong> {{ paciente.doctor.nombre }} {{ paciente.doctor.paterno }} {{ paciente.doctor.materno }}</p>
        </div>
    </div>

    <!-- Botones para acciones -->
    <div class="text-center">
        <a href="{{ url_for('main.list_paciente') }}" class="btn btn-secondary">Volver</a>
        <a href="{{ url_for('main.edit_paciente', paciente_id=paciente.paciente_id) }}" class="btn btn-primary">Editar Perfil</a>
        <a href="{{ url_for('main.listar_fichas', paciente_id=paciente.paciente_id) }}" class="btn btn-info">Ver Fichas</a>
    </div>
</div>
{% endblock %}

